<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroSoftplayer</servlet-name>
        <servlet-class>controller.CadastroSoftplayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePlayers</servlet-name>
        <servlet-class>controller.DeletePlayers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarEntidade</servlet-name>
        <servlet-class>controller.cadastrarEntidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEntidade</servlet-name>
        <servlet-class>controller.deleteEntidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarEntidade</servlet-name>
        <servlet-class>controller.editarEntidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deslogar</servlet-name>
        <servlet-class>controller.deslogar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarDoacao</servlet-name>
        <servlet-class>controller.CadastrarDoacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarCampanha</servlet-name>
        <servlet-class>controller.cadastrarCampanha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>criarCampanha</servlet-name>
        <servlet-class>controller.criarCampanha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadastrarVoluntariado</servlet-name>
        <servlet-class>controller.cadastrarVoluntariado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarDoacao</servlet-name>
        <servlet-class>controller.editarDoacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteDoacao</servlet-name>
        <servlet-class>controller.DeleteDoacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarCampanha</servlet-name>
        <servlet-class>controller.editarCampanha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCampanha</servlet-name>
        <servlet-class>controller.deleteCampanha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarVoluntariado</servlet-name>
        <servlet-class>controller.editarVoluntariado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteVoluntariado</servlet-name>
        <servlet-class>controller.deleteVoluntariado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doar</servlet-name>
        <servlet-class>controller.Doar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarNecessidade</servlet-name>
        <servlet-class>controller.CadastrarNecessidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNecessidade</servlet-name>
        <servlet-class>controller.DeleteNecessidade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroSoftplayer</servlet-name>
        <url-pattern>/CadastroSoftplayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePlayers</servlet-name>
        <url-pattern>/deletePlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarEntidade</servlet-name>
        <url-pattern>/cadastrarEntidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEntidade</servlet-name>
        <url-pattern>/deleteEntidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarEntidade</servlet-name>
        <url-pattern>/editarEntidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deslogar</servlet-name>
        <url-pattern>/deslogar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarDoacao</servlet-name>
        <url-pattern>/cadastrarDoacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarCampanha</servlet-name>
        <url-pattern>/cadastrarCampanha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>criarCampanha</servlet-name>
        <url-pattern>/criarCampanha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastrarVoluntariado</servlet-name>
        <url-pattern>/cadastrarVoluntariado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarDoacao</servlet-name>
        <url-pattern>/editarDoacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteDoacao</servlet-name>
        <url-pattern>/deleteDoacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarCampanha</servlet-name>
        <url-pattern>/editarCampanha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCampanha</servlet-name>
        <url-pattern>/deleteCampanha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarVoluntariado</servlet-name>
        <url-pattern>/editarVoluntariado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteVoluntariado</servlet-name>
        <url-pattern>/deleteVoluntariado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doar</servlet-name>
        <url-pattern>/Doar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarNecessidade</servlet-name>
        <url-pattern>/CadastrarNecessidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNecessidade</servlet-name>
        <url-pattern>/DeleteNecessidade</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
