@font-face{
    font-family: WorkSans;
    src: url('fontes/WorkSans-Regular.ttf');
}
@font-face{
    font-family: WorkSansLight;
    src: url('fontes/WorkSans-ExtraLight.ttf');
}

*{
    -webkit-box-sizing: border-box;  /* Interpretação de navegadores*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'WorkSans', sans-serif;
}

.header{
    width: 100%;
    height: 130vh;
    background-image: url("imagens/Design\ sem\ nome\ \(13\).png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-one{
    width: 100%;
    height: 100px;
    color: #fff;
    position: fixed;
}

.navbar{
    display: flex;
}

nav.navFixed{
    background: #fff;
    z-index: 2;
    box-shadow: 0 1px 7px rgba(0,0,0,0.6)
}

nav.navFixed ul li a{
    color: #333;
    font-weight: 700;
}

nav.navFixed ul li a::after{
    background: #333;
}

nav.navFixed ul{
    padding-bottom: 20px;
}

nav.navFixed .logo h1 {
    padding-top: 20px;
}

nav.navFixed .logo img{
    width: 75px;
    height: 90px;
    padding-top: 18px;
}

.logo{
    width: 50%;
    display: flex;
    padding-left: 50px;
}

.logo img{
    width: 75px;
    height: 100px;
    padding-top: 30px;
}

.logo h1{
    font-size: 1.6rem;
    padding: 30px 0 0 10px;
    color: #333;
}

.menu{
    width: 50%;
    height: 100px;
}

.menu ul{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu ul li{
    list-style: none;

}


 .menu ul li a{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}

.menu ul li a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.menu ul li a:hover::after{
    width: 100%;
    transition: width .3s;
}
.menu ul li a.active {
  color: #000;
}
.responsive-bar{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    display: none;
    justify-content: space-around;
    background: #fff;
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
}

.responsive-bar .responsive-logo{
    display: flex;
}

.responsive-bar .responsive-logo h1{
    font-size: 1.5rem;
    padding: 20px 0 0 15px;
    color: #000;
}

.responsive-bar .responsive-logo img{
    width: 75px;
    height: 85px;
    padding-top: 18px;
}

.responsive-bar #bar{
    color: #000;
    padding: 35px 0 0 100px;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 816px) {

    .responsive-bar{
        display: flex;
    }

    .navbar{
        height: 230px;
        background-color: #fff;
        display: none;
    }
    .navbar h1{
        display: none;
    }
    .navbar img{
        display: none;
    }
    .logo{
        width: 0;
        height: 0;
    }
    .menu{
        width: 100%;
    }
    .menu ul{
        display: block;
        height: 220px;
        padding: 0;
    }
    .menu ul li{
        text-align: center;
        padding-top: 25px;
    }
    .menu ul li a{
        color: #333;
    }
    .menu ul li a::after{
        display: none;
    }
    
    .menu ul li a:hover::after{
        display: none;
    }
    .menu ul li a:hover {
      color: #0dae7a;
    }

    nav.navFixed ul li a{
        font-weight: normal;
    }
    .active{
        display: block;
    }
    .leftside h1{
        padding-top: 200px;
        font-size: 1.5rem;
    }
    .header{
        background-image: url("imagens/Design\ sem\ nome\ \(13\).png");
        background-size: 500px 300px;
        background-position: right 100px;
    }
    .container{
        padding-top: 1400px;
    }
    .sobre{
        padding-top: 1400px;
    }
}

@media screen and (min-width: 816px) and (max-width: 1200px){

    .container{
        padding-top: 700px
    }

    .sobre{
        padding-top: 700px;
    }
}


.leftside {
    padding: 140px 0 0 60px;
  }

  .leftside h1 {
    font-size: 3rem;
    line-height: 80px;
    color:#333;
  }  

  .leftside h3{
    font-size: 1.5rem;
    color: #018b87;
    line-height: 35px;
    font-family: 'WorkSansLight', sans-serif;
}

  .leftside h2{
      font-size: 1.3rem;
      color: #333;
      line-height: 35px;
      font-family: 'WorkSansLight', sans-serif;
  }

  .txt-type > .txt {
    border-right: 0.2rem solid;
    color: #0dae7a;
  }

.causa h2{
    font-size: 2.7rem;
    text-align: center;
    color: #333;
    position: relative;
}

.causa1 h2{
    font-size: 2.7rem;
    text-align: center;
    color: #333;
    position: relative;
}

.tab-wrapper ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .tab-wrapper ul li{
      padding-left: 40px
  }

  .tab-wrapper ul li a {
    color: #333;
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
    text-decoration: none;
  }

  .tab-wrapper ul li a::after{
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #0dae7a;
      transition: width .3s;
  }

  .tab-wrapper ul li a:hover::after{
      width: 100%;
      transition: width .3s;
  }
  .tab-wrapper ul li a.active {
    color: #0dae7a;
  }
  .product-info-tab {
    width: 100%;
    height: 700px;
    display: none;
    animation: .75s fadeIn linear;
  }
  @keyframes fadeIn{
    from {
      opacity:0;
    }
    to {
      opacity:1
    }
  }

  .h2card{
      padding-top: 90px;
  }

.card-wrapper{
    padding-top: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card{
    width: 21rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}

.card .card-img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

.card .profile-img{
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -5rem;
    z-index: 1;
    border: 1rem solid #ebeeeb;
}

.card h1{
    font-size: 1.5rem;
    color: #333;
    margin: 1rem 0;
}

.card .about{
    font-size: 1rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

.card .btn-doar{
    padding: 1rem 1.5rem;
    background-color: #0dae7a;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color:#eee;
    font-size: 1rem;
    text-decoration: none;
}

.card .btn-doar:hover{
    background: #494949;
}

@media screen and (min-width: 700px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card{
        margin: 2rem;
    }
}

.sobre{
   width: 100%;
}

.sobre h1{
    font-size: 2.7rem;
    text-align: center;
    color: #333;
    position: relative;
    padding: 90px 0 50px 0;
}

.sobre .container-sobre-info h2{
    color: #333;
}

.sobre .container-sobre{
    justify-content: center;
    display: flex;
}

.sobre .container-sobre-img{
    width: 55%;
    height: 660px;
    background: #fff;
    text-align: center;
    box-shadow: .3rem .3rem 3rem rgba(0,0,0,0.2);
}

.sobre .container-sobre-img h4{
    font-size: 1.3rem;
    color: #333;
    
}

.sobre .container-sobre-img p{
    color: #4b636e;
    line-height: 20px;
    font-size: 1rem;
}

.sobre .container-sobre-info{
    width: 30%;
    text-align: center;
}

.sobre .container-sobre-img img{
    width: 95%;
    height: 460px;
    padding-top: 20px;
}

.sobre .sobre-info{
    padding: 30px 0 0 80px;
}

.sobre .sobre-info .info{
    width: 80%;
    height: 60px;
    border-radius: 10px;
    border:1px solid #494949;
    background-color: #494949;
    color: #fff;
    text-align: center;
}

.como-funciona h1{
    font-size: 2.7rem;
    text-align: center;
    color: #333;
    position: relative;
    padding: 70px 0 50px 0;
}

.como-funciona .container{
    display: flex;
    padding-left: 10px 0 0 50px;
    justify-content: space-around;
}

.como-funciona .container-sobre{
    width: 30%;
    text-align: center;
    font-weight: bold;
}

.como-funciona .container-sobre2{
    text-align: center;
    font-weight: bold;
}
.como-funciona .container-sobre2 img{
    width: 200px;
    height: 200px;
}

.como-funciona .container-sobre img{
    width: 200px;
    height: 200px;
}

.popup {
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
}

.popup-active {
    visibility: visible;
    opacity: 1;
    z-index: 2000;
}

.popup-content {
    height: 500px;
    width: 700px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    cursor: pointer;
}

.close2 {
    position: absolute;
    top: 5px;
    right: 10px;
    background: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    cursor: pointer;
}

.popup h1 {
    font-weight: bold;
    margin: 0;
}

.popup p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.popup a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

button {
    border-radius: 20px;
    border: 1px solid #2bbd7e;
    background-color: #2bbd7e;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #ff416c;
    background: linear-gradient(to right, #69f0ae, #2bbd7e) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%); 
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
    z-index: 2000;
}

.modal {
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal-close {
	cursor: pointer;
}

.img-impacto {
    width: 100%;
    height: 80vh;
    background-image: url("imagens/people-3137670_1920.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
    color: #fff;
    text-align: center;

}

.img-impacto h1{
    font-size: 4rem;
    padding-top: 150px;
}

.img-impacto h2{
    font-size: 3rem;
}
