@font-face{
    font-family: WorkSans;
    src: url('../fontes/WorkSans-Regular.ttf');
}
@font-face{
    font-family: WorkSansLight;
    src: url('../fontes/WorkSans-ExtraLight.ttf');
}

*{
    -webkit-box-sizing: border-box;  /* Interpretação de navegadores*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'WorkSans', sans-serif;
}

nav{
    padding: 5% 0 0 10%;
}

nav svg{
    cursor: pointer;
    color: #cfd8dc;
}

nav svg:hover{
   color:  #01bcd5;
}

nav img{
    width: 50px;
    padding-left: 10px;
    padding-bottom: 20px;
}

 input{
    width: 30px;
    border: none;
    outline: 0;
}

.text-sobre{
    width: 89%;
    padding: 1% 0 0 10%;
    color: #78909c;
    line-height:20px;
    font-size: 1rem;

}

.text-sobre p{
    margin-top: 0;
    margin-bottom: 0;
}

.text-sobre h2{
    color: #01bcd5;
    font-family: WorkSansLight;
}

.text-sobre-info{
    display: flex;
    width: 90%;
    padding: 1% 0 0 10% ;
    flex-direction: row;
    flex-flow: wrap;
}

.text-sobre-info .text-sobre-info-detalhe p{
    color: #78909c;
    font-size: 1rem;
    padding-left: 5px;
}

.text-sobre-info .img-text-sobre{
    width: 18px;
    height: 18px;
}

.text-sobre-info  img{
    width: 5px;
    height: 5px;
}

.text-sobre-info .text-sobre-info-detalhe p:first-child{
    padding-left: 0;
}

.text-sobre-info-detalhe{
    display: flex;
    padding-right: 10px;
}

form{
    padding-left: 10%;
}

.form-separator{
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.form-separator:first-child{
    padding-top: 25px;
}

.input{
    padding-left: 2%;
    width: 43%;
}

.caixa-input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border:1px solid #cfd8dc;
    display: flex;
}

.input:first-child{
    padding-left: 0;
}

.form-separator .caixa-input input{
    width: 100%;
    border: none;
    padding-left: 10px;
    outline: 0;
}

.caixa-input img{
    width: 35px;
    height: 35px;
    padding: 10px 0 0 10px;
}

.button-doar{
    text-align: center;
    padding-top: 30px;
}

.button-doar button{
    background-color: #01bcd5;
    border: #01bcd5;
    height: 50px;;
    width: 300px;
    font-weight: bold;
}