body, html {
    width: 100%;
    background-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
    transition: all ease-in-out .2s;
}

.container {
    position: absolute;
    width: 100%;
    background-color: #333333;
}

nav {
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: #333333;

}

#logo {
    height: 50px;
    background-color: #333333;
    color: #1E90FF;
    text-align: center;
    line-height: 50px;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

#logo span {
    font-size: .8em;
    font-family: monospace;
    font-style: italic;
    color: #f7f7f7;
}

#menu {
    width: 100%;
    background-color: #333333;
}

#menu li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #333333;
}

#menu li>a {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    color: #f7f7f7;
    display: block;
    text-align: center;
    text-decoration: none;
}

#menu li:hover {
    background-color: #444444;
   
}

#menu li>a:hover {
    box-sizing: border-box;
    color: #1E90FF;
    border-left: 3px solid #1E90FF;
}

header {
    width: calc(100% - 200px);
    height: 50px;
    position: absolute;
    display: block;
    top: 0;
    left: 200px;
    background-color: #333333;
    color: #f7f7f7;
    line-height: 50px;
}

header #links {
    float: right;
    height: 48px;
    display: block;
    color: #f7f7f7;
    font-size: 1em;
}

#links>a {
    color: #f7f7f7;
    text-decoration: none;
    padding: 0 .5em;
    width: 100%;
    display: block;
}

#links:hover {
    background-color: #1E90FF
}

main {
    position: absolute;
    top: 50px;
    left: 200px;
    height: 100%;
    width: calc(100% - 200px);
    background-color: #dadada;
}

.minimize {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 20px;
    left: 75px;
    color: #f7f7f7;
    font-size: 2.2em;
    background-color: #555555;
    border: none;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.minimize:hover {
    background-color: #1E90FF;
}

.maximize {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 70px;
    left: 20px;
    color: #f7f7f7;
    font-size: 2.2em;
    background-color: #555555;
    border: none;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transform: scale(0);
}

.maximize:hover {
    background-color: #1E90FF;
}

.actions-container {
    width: 90%;
    margin: 2em auto;
    background-color: #ffffff;
}

.title {
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-bottom: 1em;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

  








